.best{
  padding: 0 0 160px;
    &__inner {
  display: flex;
  align-items: center;
  column-gap: 125px;
    }
    &__span{
      color: crimson;
    }
    &__heading {
      font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.42857px;
  text-transform: uppercase;
  color: #000000;
  max-width: 445px;
  margin-bottom: 32px;
    }
    &__text {
      font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  opacity: 0.5;
  max-width: 445px;
    }
    &__img {
      max-width: 540px;
      max-height: 588px;
      background: #F1F1F1;
  border-radius: 8px;
    }
    @media screen and (max-width:900px) {
      &__inner{
        flex-direction: column-reverse;
        align-items: center;
      }
      &__img{
        margin-bottom: 40px;
      }
    }
    @media screen and (max-width:550px) {
      &__img{
        max-width: 327px;
        
      }
      &__text{
        max-width: 327px;
        text-align: center;
      }
      &__heading{
        max-width: 327px;
        text-align: center;
      }
    }
  
      }